@use '../stuff/mixins' as *;
@use '../stuff/roots';

.arena{

    // background: var(--border-color);
}

.arena-card{
    padding: 20px 0 0 30px;

    &-header{
        @include flex(row, flex-start, center, 30px);
        background: var(--arena-bg-color);
        border-bottom: 3px solid var(--border-color);



    }
    
    &-description{
        background:green;
    }
}