@use '../stuff/mixins'as *;
@use '../stuff/roots';

.grimoire {
    height: 100vh;
    max-width: 35%;

    background: var(--bg-grimoire-list-color);
    border-right: 3px solid var(--border-color);

    @include flex(column);

    &-list {
        padding: 0 20px;

        flex-grow: 1;
        overflow-y: auto;
        scrollbar-width: none;
        // -ms-overflow-style: none; //это ваще важная херня?
    }

    .grimoire-header {
        padding: 20px 50px;

        background: var(--bg-grimoire-titleAndActive-item-color);
        border-bottom: 3px solid var(--border-color);

        @include flex(column, center, center, 20px);

        h2 {
            margin-top: 0;

            text-transform: uppercase;

            color: var(--electro-text-color);
            text-shadow:
                0 0 5px var(--electro-text-color),
                0 0 10px var(--electro-text-color);
            letter-spacing: 3px;
        }

        span {
            font-size: 16px;

            text-transform: uppercase;

            color: var(--sub-text-color);
        }

        #difficulty-filter {
            padding: 7px;

            border: 1px solid var(--border-color);
            border-radius: 10px;

            background: var(--bg-grimoire-list-color);
            color: var(--accent-blue);
        }

        #difficulty-filter:hover {
            border-color: var(--accent-blue, #2d7dff);
            box-shadow: 0 0 8px var(--accent-blue);
        }

        #difficulty-filter:focus {
            outline: none;
        }
    }

    .grimoire-list {
        padding-top: 20px;

        .grimoire-item {
            width: 100%;

            margin-bottom: 20px;
            padding: 20px;

            @include flex(column, flex-start, flex-start, 10px);

            border-radius: 10px;

            background: var(--bg-grimoire-titleAndActive-item-color);

            border-left: 10px solid transparent;

            @each $name,
            $color in $difficulty-colors {
                &.#{$name} {
                    @include difficulty-border($color, 10px, left);
                }
            }

            .grimoire-item-footer {
                width: 100%;

                @include flex (row, space-between, center)
            }

            .grimoire-item-difficulty {

                font-size: 18px;

                @each $name,
                $color in $difficulty-colors {
                    &.#{$name} {
                        @include difficulty-text($color);
                    }
                }
            }

            .grimoire-item-id {
                color: var(--main-text-color);
            }



            &:hover {
                cursor: pointer;
            }

            @each $name,
            $color in $difficulty-colors {
                &.#{$name}:hover {
                    box-shadow: 0 0 10px $color;
                }
            }

            &-description {
                color: var(--sub-text-color);
            }

            &-title {
                margin-top: 0;

                color: var(--main-text-color);
            }
        }

        .grimoire-item.active {
            border-left: 10px solid var(--active-card-color) !important;
            box-shadow:
                0 0 10px var(--active-card-color),
                0 0 20px var(--active-card-color),
                0 0 30px var(--active-card-color);
        }

        .grimoire-item.inactive {
            display: none !important;
        }
    }


}