@use '../stuff/mixins' as *;
@use '../stuff/roots';

.grimoire {
    height: 100vh;
    width: 35%;

    background: var(--bg-grimoire-list-color);
    border-right: 3px solid var(--border-color);

    @include flex(column);
    // display: flex;
    // flex-direction: column;

    &-list {
        padding: 0 20px;

        flex-grow: 1;
        overflow-y: auto;
        scrollbar-width: none;
        // -ms-overflow-style: none; //это ваще важная херня?
    }

    .grimoire-header {
        padding: 20px 50px;

        background: var(--bg-grimoire-titleAndActive-item-color);

        h2 {
            margin-top: 0;

            text-transform: uppercase;

            color: var(--electro-text-color);
        }

        span {
            color: var(--sub-text-color);
        }
    }

    .grimoire-list {
        padding-top: 20px;

        .grimoire-item {
            margin-bottom: 20px;
            padding: 20px;

            border-radius: 10px;

            background: var(--bg-grimoire-titleAndActive-item-color);

            border-left: 10px solid transparent;

            &.easy {
                border-left-color: var(--green-color);
            }

            &.medium {
                border-left-color: var(--yellow-color);
            }

            &.hard {
                border-left-color: var(--red-color);
            }

            &.easy .grimoire-item-difficulty {
                color: var(--green-color);
            }

            &.medium .grimoire-item-difficulty {
                color: var(--yellow-color);
            }

            &.hard .grimoire-item-difficulty {
                color: var(--red-color);
            }

            &:hover {
                cursor: pointer;
            }

            &.easy:hover {
                box-shadow: 0px 0 10px var(--green-color);
            }

            &.medium:hover {
                box-shadow: 0px 0 10px var(--yellow-color);
            }

            &.hard:hover {
                box-shadow: 0px 0 10px var(--red-color);
            }

            &-description {
                color: var(--sub-text-color);
            }

            &-title {
                margin-top: 0;

                color: var(--main-text-color);
            }
        }
    }


}